<a href="https://colab.research.google.com/github/TMDU-AI/supplements/blob/main/%E7%B5%84%E3%81%BF%E8%BE%BC%E3%81%BF%E9%96%A2%E6%95%B020240424.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 組み込み関数

Pythonには多くの便利な組み込み関数(最初から使える関数)があり、これらの関数を使うことで様々な基本的なタスクを簡単に処理できます。以下にいくつかの主要な組み込み関数の概要と使用例を示します。

**print()**

機能: 文字列や数値などの値を出力します。

In [ ]:
print("こんにちは、世界！")

こんにちは、世界！

**len()**

機能: コンテナ（リスト、文字列、タプルなど）の要素数を返します。

In [ ]:
my_list = [1, 2, 3]
print(len(my_list))  # 出力: 3

3

**type()**

機能: オブジェクトの型を返します。

In [ ]:
print(type(123))  # 出力: <class 'int'>

<class 'int'>

**int(), float(), str()**

機能: 値を整数、浮動小数点数、文字列に変換します。

In [ ]:
print(int("10"))      # 出力: 10
print(float("10.5"))  # 出力: 10.5
print(str(10))        # 出力: '10'

10
10.5
10

**max() と min()**

機能: コンテナまたは引数リストの最大値または最小値を返します。

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(max(numbers))  # 出力: 5
print(min(numbers))  # 出力: 1

5
1

**sum()**

機能: コンテナの数値の合計を返します。

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))  # 出力: 15

15

**sorted()**

機能: ソートされた新しいリストを返します。

In [ ]:
numbers = [5, 2, 9, 1]
print(sorted(numbers))  # 出力: [1, 2, 5, 9]

[1, 2, 5, 9]

**input()**

機能: ユーザーからの入力を文字列として受け取ります。

In [ ]:
name = input("名前を入力してください: ")
print(f"こんにちは、{name}！")

名前を入力してください: 須藤
こんにちは、須藤！

**abs()**

機能: 数値の絶対値を返します。

In [ ]:
print(abs(-5))  # 出力: 5

5

**round()**

機能: 数値を指定された桁数で四捨五入します。

In [ ]:
number = 5.678
print(round(number, 2))  # 出力: 5.68

5.68

**zip()**

機能: 複数のイテラブル（リスト、タプルなど）を同時にループするために使います。複数のイテラブルから要素を取り出し、それぞれの要素からなるタプルを生成します。

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [24, 30, 18]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 24 years old
Bob is 30 years old
Charlie is 18 years old

**all() と any()**

機能: all() はイテラブル内の全ての要素が True（または真と評価される値）の場合に True を、any() は少なくとも一つの要素が True の場合に True を返します。

In [ ]:
values = [True, True, False]
print(all(values))  # 出力: False
print(any(values))  # 出力: True

False
True

**enumerate()**

機能: イテラブルをインデックス付きの要素でループするために使用します。

In [ ]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: cherry

**filter()**

機能: 特定の条件に基づいて要素をフィルタリングします。

In [ ]:
numbers = range(-5, 5)
positive_numbers = list(filter(lambda x: x > 0, numbers))
print(positive_numbers)  # 出力: [1, 2, 3, 4]

[1, 2, 3, 4]

**map()**

機能: すべての要素に対して指定された関数を適用します。

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # 出力: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

**reversed()**

機能: イテラブルの要素を逆順にします。

In [ ]:
for char in reversed("hello"):
    print(char, end=' ')
# 出力: o l l e h

o l l e h

help()

機能: オブジェクトについてのヘルプ情報を表示します。

In [ ]:
help(print)  # print関数のドキュメントを表示

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**pow()**

機能: x の y 乗を計算します。オプションで z を指定した場合、(x**y) % z を計算します。

In [ ]:
print(pow(2, 3))  # 出力: 8
print(pow(2, 3, 3))  # 出力: 2 (8 % 3)

8
2

**set()**

機能: イテラブルから集合（重複を許さない要素の集まり）を生成します。

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 4]
print(set(my_list))  # 出力: {1, 2, 3, 4}

{1, 2, 3, 4}

**list()**

機能: 任意のイテラブル（配列、文字列、タプルなど）から新しいリストを生成します。

In [ ]:
tuple_data = (1, 2, 3)
new_list = list(tuple_data)
print(new_list)  # 出力: [1, 2, 3]

[1, 2, 3]

**tuple()**

機能: 任意のイテラブルから新しいタプルを生成します

In [ ]:
list_data = [1, 2, 3]
new_tuple = tuple(list_data)
print(new_tuple)  # 出力: (1, 2, 3)

(1, 2, 3)

**dict()**

機能: キーワード引数、キーと値のペアのリスト、またはキーと値のペアのタプルのリストから新しい辞書を生成します。

In [ ]:
pair_list = [("key1", "value1"), ("key2", "value2")]
new_dict = dict(pair_list)
print(new_dict)  # 出力: {'key1': 'value1', 'key2': 'value2'}

{'key1': 'value1', 'key2': 'value2'}